---
import Layout from '../components/layouts/Layout.astro'
import { RESUME_DATA } from '../data/resume.data'
import { DICTIONARIES } from '../data/dictionaries'
import Social from '../components/ui/sections/Social.astro'
import About from '../components/ui/sections/About.astro'
import WorkExp from '../components/ui/sections/WorkExp.astro'
import Skills from '../components/ui/sections/Skills.astro'
import Projects from '../components/ui/sections/Projects.astro'

const DATA = RESUME_DATA['en']
const DICTIONARY = DICTIONARIES['en']
const VERSION = process.env.npm_package_version
---

<Layout title="Welcome to Astro.">
	<main class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16">
		<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-4">
			<Social />
			<About />
		  	<WorkExp />
		  	<Skills />
		  	<Projects />
		</section>
	</main>
	<footer class="flex justify-center text-gray-600 pb-20">
		Online Open CV v.{VERSION} made by Mariano Guillaume
	</footer>
</Layout>
