---
import Card from "../../components/Card.astro";

import Layout from "../../layouts/Layout.astro";

const a = "asd";
---

<Layout title="Welcome to Astro.">
	<main class="bg-primary-green">
		español
	</main>
</Layout>

<style>
</style>
